*{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: wheat;
}

body{
    background-color: grey;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

.bouton{
    border: 3px wheat solid;
    width: 200px;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.25s ease;
}

.boutonFinal{
    background-color: rgb(26, 166, 26);
    margin-right: 18px;
    margin-bottom: 18px;
}

.black{
    background-color: rgb(5, 80, 5);
    width: 200px;
    height: 100px;
    position: absolute;
    z-index: -1;
    border: 3px wheat solid;
}